@font-face {
    font-family: 'attentica 4f ultralight';
    src: url('fonts/attentica 4f ultralight.ttf') format('ttf'),
        url('fonts/attentica 4f ultralight.woff') format('woff'),
        url('fonts/attentica 4f ultralight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'attentica 4f ultralight';
    font-weight: normal;
    font-style: normal;
}

/*Global smooth scrolling*/
html {
    scroll-behavior: smooth;
}

p {
    font-size: 2.5em;
    word-spacing: 5px;
}
h1 {
    font-size: 4em;
    margin: 0;
    word-spacing: 5px;
}
img {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
video {
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
section {
    position: relative;
    padding-top: 100px;
    max-width: 85%;
    margin: 0px auto;
    align-items: center;
    display: flex;
}

#body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:floralwhite;
}

.footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.footer p {
    line-height: 1;
    margin-bottom: 5px;
}
.footer a{
    font-size: 2em;
    text-decoration: none;
    margin: 0px 10px;
    color: black;
}
.footer a:hover{
    color: darkmagenta;
}

.button {
    border: none;
    color: white;
    padding: 12px 9px 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid darkmagenta;
}
.button:hover {
    background-color: darkmagenta;
    color: white;
}

.scrollDiv {
    width: 99%;
    margin: auto;
    overflow: hidden;
    position: fixed;
    top: 93%;
}
#scrollToTop {
    font-size: 50px;
    line-height: 0.5;
    float: right;
}

.icon {
    height: 30px;
    width: auto;
}


.internal {float: left;}
.external {float: right;}
#home {
    margin-left: 35%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.t-nav {
    background-color: #333;
    overflow: hidden;
    padding: 0px 100px;
}
.t-nav a {
    color: floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 50px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.t-nav a:hover, .dropdown:hover .dropbtn {
    color: darkmagenta;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {
    display:block;
    top: 78px;
}

/*HERO ANIMATION STUFF*/
.hero-text {
    max-width: 50%;
    padding-right: 30px;
}
.hero-text-title {
    font-size: 4em;
    margin-bottom: 30px;
    margin-top: 0;
    word-spacing: 10px;
    font-family: monospace;
}
#hero-text-title-index {font-size: 3em;}
.hero-text-title .text-wrapper{
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
.hero-text-title .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
    font-family: monospace;
}
.hero-text-p {
    font-size: 2em;
    margin: 0;
    font-family: monospace;
}
.hero-text-p .letter{
    font-family: monospace;
}
.hero-media img {
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
/*HERO ANIMATION STUFF END*/

.work {
    display:block;
}
.work-repr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    margin-bottom: 50px;
}

.htw-repr { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/htw%20representative.PNG");
    transition: 0.3s;
}
.htw-repr:hover { box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.4); }
.nydiod-repr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/nydiod%20representative.PNG");
    transition: 0.3s;
}
.nydiod-repr:hover { box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.4); }
.tnt-repr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/tnt%20representative.PNG");
    transition: 0.3s;
}
.tnt-repr:hover { box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.4); }
.misc-repr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/chair%20with%20background.png");
    transition: 0.3s;
}
.misc-repr:hover { box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.4); }

.work-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}
.work-text p {
    margin: 0px;
}
.nydiod-repr-text .misc-repr-text{
    right: 10px;
}

.game-section {
    display: block;
}
.game-text {
    width: 40%;
    margin-top: 100px;
}
.side-text {
    margin-left: 100px;
}
.left-text {
    margin: 100px;
}
.game-text p {
    margin: 0;
    font-size: 2.8em;
}

.game-prod img {
    height: 400px;
    margin-top: 15px;
}
.whorry {
    margin-right: 20px;
}
#mixer-img {
    width: 100%;
    height: 100%;
}
.design_img {
    width: 47%;
    height: 100%;
}
#fl-img {
    width: 100%;
    height: 100%;
}


.sound-clips {
    display:contents;
}
.audio-clip {
    margin: 30px;
}



.image-gallery {
    display: flex;
}
.image-gallery-image {
    width: 30%;
    height: 400px;
    margin: 10px;
}
.image-gallery-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-gallery{
    display: flex;
}
.video-gallery-video{
    width: 50%;
    height: 100%;
    margin: 10px;
}
.video-gallery-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1600px) {
    section {
        display: block;
    }
    .hero-text {
        max-width: 100%;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .image-gallery-image {
        width: 100%;
        height: 400px;
    }
    .video-gallery-video {
        width: 100%;
        height: 100%;
    }
}
